*.iml
.gradle
/local.properties
/.idea/dictionaries
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/keystore.jks
keystore.properties
