# Contains key store and key information
app/keystore.jks
keystore.properties

/local.properties

/.idea/modules.xml
.idea/*.iml

/.idea/dictionaries
/.idea/misc.xml
/.idea/workspace.xml

/.idea/gradle.xml
/.idea/libraries

.gradle
/build

/captures

.externalNativeBuild

.DS_Store
