<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sienga.stockwatch">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--Restrict app to phones only-->
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="false" />

    <!--
    Allowing clear text traffic applies to what links can be opened in
    WebViewActivity.
    -->
    <application
        android:icon="@mipmap/main_icon"
        android:name="com.sienga.stockwatch.StockWatch"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />

        <activity
            android:name="com.sienga.stockwatch.HomeActivity"
            android:icon="@mipmap/main_icon"
            android:label="@string/icon_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="com.sienga.stockwatch.IndividualStockActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.sienga.stockwatch.WebViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}" />
    </application>

</manifest>